<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% for name, description in location.meta %}
    <meta name="{{ name }}" content="{{ description }}">
{% endfor %}
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
</head>
<body>

    {% block content %}{% endblock %}

    {% block tail %}{% endblock %}

</body>
</html>